<div *ngIf="createItemForm" class="createItemFormDiv">
  <br>
  <h3>Create item</h3>

  <div *ngIf="createItemErrorMessage" class="alert alert-danger" role="alert">
    {{createItemErrorMessage}}
  </div>

  <form class="d-flex flex-column" (submit)="createItem()">

    <div class="form-group">
      <label for="itemCode">Code</label>
      <input class="form-control" type="text" name="itemCode" [(ngModel)]="itemToBeCreated.itemCode">
    </div>

    <div class="form-group">
      <label for="itemName">Name</label>
      <input class="form-control" type="text" name=itemName [(ngModel)]="itemToBeCreated.itemName">
    </div>

    <button class="btn btn-primary">Create</button>

  </form>
</div>

<div *ngIf="itemList" class="itemListDiv">
  <br>
  <h3>Items:</h3>
  <!-- HEADERS FOR LINES -->

  <div>
    <hr>


    <div class="d-flex">

      <div class="fi">
      </div>

      <div class="fs">
        Status
      </div>

      <div class="fs">
        Number
      </div>

      <div class="fl">
        Name
      </div>

      <div class="fl">
        Id
      </div>

    </div>
  </div>


  <!-- LINES -->
  <div *ngFor="let item of items">
    <hr>
    <div class="d-flex">

      <!--  buttons to activate or deactivate -->
      <div class="fi">
        <button (click)="toggleItemStatus(item._id)" *ngIf="item.status" class="btn btn-sm btn-danger">
          <i class="material-icons md-24">highlight_off</i>
        </button>
        <button (click)="toggleItemStatus(item._id)" *ngIf="!item.status" class="btn btn-sm btn-success">
          <i class="material-icons md-24">check_circle_outline</i>
        </button>
      </div>

      <div class="fs">
        {{item.status}}
      </div>

      <div class="fs">
        {{item.itemCode}}
      </div>

      <div class="fl">
        {{item.itemName}}
      </div>

      <div class="fl">
        {{item._id}}
      </div>

    </div>
  </div>
  <hr>

  <br>
  <button (click)="switchToCreateItemForm()" *ngIf="!createItemForm" class="btn btn-sm btn-success">Create item</button>
  <br>
  <br>

</div>