<!-- Navigation -->
<div *ngIf="theUserFromUser" class="sidenav d-flex flex-column">
  <div class="icon d-flex">
    <p></p>
  </div>
  <!-- <div class="icon d-flex justify-content-center align-items-center">
    <a [routerLink]="['/']" routerLinkActive="active">
      <i class="material-icons md-36">home</i>
    </a>
  </div> -->
  <div class="icon d-flex justify-content-center align-items-center">
    <a [routerLink]="['/company']" routerLinkActive="active">
      <i class="material-icons md-36">business</i>
    </a>
  </div>
  <!-- <div class="icon d-flex justify-content-center align-items-center">
    <a [routerLink]="['/user']" routerLinkActive="active">
      <i class="material-icons md-36">person_outline</i>
    </a>
  </div> -->
  <div class="icon d-flex justify-content-center align-items-center">
    <a [routerLink]="['/customer']" routerLinkActive="active">
      <i class="material-icons md-36">people_outline </i>
    </a>
  </div>
  <div class="icon d-flex justify-content-center align-items-center">
    <a [routerLink]="['/item']" routerLinkActive="active">
      <i class="material-icons md-36">list</i>
    </a>
  </div>
  <div class="icon d-flex justify-content-center align-items-center">
    <a [routerLink]="['/invoice']" routerLinkActive="active">
      <i class="material-icons md-36">description</i>
    </a>
  </div>
  <div class="icon d-flex justify-content-center align-items-center">
    <a [routerLink]="['/']" routerLinkActive="active">
      <i class="material-icons md-36">assessment</i>
    </a>
  </div>
  <!-- <i class="material-icons md-36">portrait</i> -->
  <!-- <i class="material-icons md-36">group</i> -->
</div>


<div class="topnav d-flex justify-content-between">

  <div class="topnav-left d-flex justify-content-start align-items-center">
    <h3 *ngIf="theUserFromUser">Current user: {{theUserFromUser.username}}</h3>
  </div>

  <div class="topnav-right d-flex justify-content-end">

    <div class="icon d-flex justify-content-center align-items-center">
      <a (click)="userService.checkLogin()" [routerLink]="['/']" routerLinkActive="active">
        <i class="material-icons md-36">check</i>
      </a>
    </div>
    <div class="icon d-flex justify-content-center align-items-center">
      <a (click)="userService.logout()" [routerLink]="['/']" routerLinkActive="active">
        <i class="material-icons md-36">close</i>
      </a>
    </div>
    <div *ngIf="!theUserFromUser" class="icon d-flex justify-content-center align-items-center">
      <a [routerLink]="['/user']" routerLinkActive="active">
        <i class="material-icons md-36">directions_walk</i>
      </a>
    </div>
    <div *ngIf="theUserFromUser" class="icon d-flex justify-content-center align-items-center">
      <a [routerLink]="['/user']" routerLinkActive="active">
        <i class="material-icons md-36">account_circle</i>
      </a>
    </div>

  </div>

</div>

<!-- Page content -->
<div class="main">

  <div class="desk">
    <div class="wa d-flex justify-content-center">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>