<!-- Navigation -->
<div class="sidenav d-flex flex-column">
  <div class="icon d-flex">
    <p></p>
  </div>
  <div class="icon d-flex">
    <p>FC</p>
  </div>
  <div class="icon d-flex">
    <p>NC</p>
  </div>
  <div class="icon d-flex">
    <p>ND</p>
  </div>
  <div class="icon d-flex">
    <p>RP</p>
  </div>
</div>

<div class="topnav d-flex justify-content-end">
  <div class="icon d-flex">
    <p>FC</p>
  </div>
  <div class="icon d-flex">
    <p>NC</p>
  </div>
  <div class="icon d-flex">
      <a [routerLink]="['/user']">Users</a>
  </div>
</div>

<!-- Page content -->
<div class="main">

  <div class="desk">
    <div class="wa d-flex flex-wrap">
      
      <div class="top-left">
        <h1>Users</h1>
        <!-- <app-user></app-user> -->
        <router-outlet></router-outlet>
      </div>

      <div class="top-right">
        <h1>Companies</h1>
        <app-company></app-company>
      </div>

      <div class="bottom-left">
        <h1>Customers</h1>
        <app-customer></app-customer>
      </div>

      <div class="bottom-right">
        <h1>Items</h1>
        <app-item></app-item>
      </div>

    </div>
  </div>

</div>
