<!-- Navigation -->
<div class="sidenav d-flex flex-column">
  <div class="icon d-flex">
<p></p>
  </div>
  <div class="icon d-flex">
    <a [routerLink]="['/user']">USR</a>
  </div>
  <div class="icon d-flex">
    <a [routerLink]="['/company']">CMP</a>
  </div>
  <div class="icon d-flex">
    <a [routerLink]="['/customer']">CST</a>
  </div>
  <div class="icon d-flex">
    <a [routerLink]="['/item']">ITM</a>
  </div>
</div>

<div class="topnav d-flex justify-content-end">
  <div class="icon d-flex">
    <a [routerLink]="['/user']">USR</a>
  </div>
  <div class="icon d-flex">
    <a [routerLink]="['/company']">CMP</a>
  </div>
  <div class="icon d-flex">
    <a [routerLink]="['/customer']">CST</a>
  </div>
  <div class="icon d-flex">
    <a [routerLink]="['/item']">ITM</a>
  </div>
  <div class="icon d-flex">
    <i class="material-icons">face</i>
  </div>
</div>

<!-- Page content -->
<div class="main">

  <div class="desk">
    <div class="wa d-flex flex-wrap">

      <div class="left">
        <router-outlet></router-outlet>
      </div>
      
      <div class="right">
        <app-user></app-user>
        <app-company></app-company>
        <app-customer></app-customer>
        <app-item></app-item>
      </div>

    </div>
  </div>

</div>
