<div class="userFormsDiv">

  <div *ngIf="signupForm && !theUser">
    <br>
    <h3>Please signup</h3>

    <div *ngIf="signupErrorMessage" class="alert alert-danger" role="alert">
      {{ signupErrorMessage }}
    </div>

    <form class="d-flex flex-column" (ngSubmit)="signup()">

      <div class="form-group">
        <label for="username-input"> Username</label>
        <input class="form-control" [(ngModel)]="signUpInfo.username" name="usernameValue" id="username-input" type="text">
      </div>

      <div class="form-group">
        <label for="password-input"> Password </label>
        <input class="form-control" [(ngModel)]="signUpInfo.password" name="passwordValue" id="password-input" type="password">
        <p>if you've already registered please
          <a (click)="switchToLoginForm()" [routerLink]="['/user']" routerLinkActive="active">login</a>
        </p>
      </div>

      <button matTooltip="Info about the action" class="btn btn-primary"> Sign Up </button>
    </form>

  </div>

  <div *ngIf="loginForm && !theUser">
    <br>
    <h3>Please login</h3>

    <div *ngIf="loginErrorMessage" class="alert alert-danger" role="alert">
      {{ loginErrorMessage }}
    </div>

    <form class="d-flex flex-column" (ngSubmit)="login()">

      <div class="form-group">
        <label for="login-username-input"> Username </label>
        <input class="form-control" id="login-username-input" type="text" [(ngModel)]="loginInfo.username" name="loginUsername">
      </div>

      <div class="form-group">
        <label for="login-pass-input"> Password </label>
        <input class="form-control" id="login-pass-input" type="password" [(ngModel)]="loginInfo.password" name="loginPassword">
        <p>if you're a new user please
          <a (click)="switchToSignupForm()" [routerLink]="['/user']" routerLinkActive="active">signup</a>
        </p>
      </div>

      <button class="btn btn-primary"> Login </button>
    </form>

  </div>
</div>

<div class="userListDiv" *ngIf="theUser">
  <br>
  <h3>Users</h3>

  <div *ngFor="let user of users">
    {{user.username}} | {{user.status}} | {{user._id}} |
    <button (click)="toggleUserStatus(user._id)" *ngIf="user.status" class="btn btn-sm btn-danger">Deactivate</button>
    <button (click)="toggleUserStatus(user._id)" *ngIf="!user.status" class="btn btn-sm btn-success">Activate</button> |
    <hr>
  </div>

</div>