@import '~bootstrap/dist/css/bootstrap.css';

*{
    border-radius: 0px !important;
}

h5{
   color:#0b5290;
   color:#0d60aa;
   color:#1076d0;
   color:#2c80b8;
   color:#4ec1e8;
}

body{
   margin: 0px;
   padding: 0px;
   background-color: grey;
}

/* The sidebar menu */
.sidenav {
   height: 100%; /* Full-height: remove this if you want "auto" height */
   width: 60px; /* Set the width of the sidebar */
   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
   left: 0;
   background-color: #2c80b8;
   overflow-x: hidden; /* Disable horizontal scroll */
   color: white;
   /* border: solid 1px black; */
}

.topnav{
    background-color: #2c80b8;
    color: white;
    width: 100%;
    /* border: solid 1px black; */
    height: 50px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0px;
    overflow-x: hidden; /* Disable horizontal scroll */
 }

 .topnav-left{
     padding-left: 65px;
 }

 .topnav-right{
    padding-right: 15px;
}
 
 div > a {
    color: white;
 }
 
.icon {
   height: 50px;
   width: 60px;
   padding: 5px;
   /* border: solid 1px black; */
}

.main {
   margin-left: 60px; /* same as sidebar width */
   margin-top: 50px;
}

.desk{
   padding: 10px;
}

.wa{
   /* background-color: rgba(226, 226, 226, 0.815); */
   background-color: whitesmoke;
   min-height: 85vh;
} 

.userFormsDiv{
    width: 400px;
}

.userListDiv{
    width: 1000px;
}

.createCompFormDiv{
    width: 400px;   
}

.compsListDiv{
    width: 1000px;
}

.createCustFormDiv{
    width: 400px;   
}

.custListDiv{
    width: 1000px;
}

.createItemFormDiv{
    width: 400px;   
}

.itemListDiv{
    width: 1000px;
}

.createInvoiceFormDiv{
    width: 1100px;   
}

.invoiceListDiv{
    width: 1000px;
}

.masters > div{
    width: 180px;   
}

.columnHeaders > div{
    width: 180px;   
}

.orderLines > div {
    width: 180px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.fs {
    width: 100px;
}

.fl {
    width: 250px;
}
  
hr {
margin: 5px;
}

