<div *ngIf="createCustForm" class="createCustFormDiv">
  <br>
  <h3>Create customer</h3>

  <div *ngIf="createCustomerErrorMessage" class="alert alert-danger" role="alert">
    {{createCustomerErrorMessage}}
  </div>

  <form class="d-flex flex-column" (submit)="createCustomer()">

    <div class="form-group">
      <label for="nombre">Name</label>
      <input class="form-control" type="text" name="nombre" [(ngModel)]="customerToBeCreated.nombre">
    </div>

    <div class="form-group">
      <label for="tipoId">Identificacion</label>
      <input class="form-control" type="text" name=tipoId [(ngModel)]="customerToBeCreated.identificacion">
    </div>

    <button class="btn btn-primary">Create</button>

  </form>
</div>

<div *ngIf="custList" class="custListDiv">
  <br>
  <h3>Customers:</h3>

  <!-- HEADERS FOR LINES -->

  <div>
    <hr>


    <div class="d-flex">

      <div class="fi">
      </div>

      <div class="fs">
        Status
      </div>

      <div class="fs">
        Number
      </div>

      <div class="fl">
        Name
      </div>

      <div class="fl">
        Id
      </div>

    </div>
  </div>


  <!-- LINES -->
  <div *ngFor="let customer of customers">
    <hr>
    <div class="d-flex">

      <!--  buttons to activate or deactivate -->
      <div class="fi">
        <button (click)="toggleCustomerStatus(customer._id)" *ngIf="customer.status" class="btn btn-sm btn-danger">
          <i class="material-icons md-24">highlight_off</i>
        </button>
        <button (click)="toggleCustomerStatus(customer._id)" *ngIf="!customer.status" class="btn btn-sm btn-success">
          <i class="material-icons md-24">check_circle_outline</i>
        </button>
      </div>

      <div class="fs">
        {{customer.status}}
      </div>

      <div class="fs">
        {{customer.identificacion}}
      </div>

      <div class="fl">
        {{customer.nombre}}
      </div>

      <div class="fl">
        {{customer._id}}
      </div>

    </div>
  </div>
  <hr>

  <br>
  <button (click)="switchToCreateCustForm()" *ngIf="!createCustForm" class="btn btn-sm btn-success">Create customer</button>
  <br>
  <br>

</div>